[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
basilica = "*"
tweepy = "*"
python-decouple = "*"
python-dotenv = "*"
scikit-learn = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
